<p><%= t entry.created_at %></p>

<%- entry.debits.each do |debit| %>
  <p><%= debit.amount %> from <%= debit.name %></p>
<% end %>

<%- entry.credits.each do |credit| %>
  <p><%= credit.amount %> to <%= credit.name %></p>
<% end %>

<p><%= link_to 'Show', entry, class: 'button tiny radius secondary' unless current_page?(controller: 'entries', action: 'show', id: entry.id)%></p>

<br>
