<h1>Listing Entries</h1>

<table class="dataTable" width="100%">
  <thead>
    <tr>
      <th>Date</th>
      <th>Transferred From</th>
      <th>Transferred To</th>
      <th>Amount</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <%- @entries.each do |entry| %>
      <tr>
        <td><%= entry.created_at %></td>
        <td><%= entry.from %></td>
        <td><%= entry.to %></td>
        <td><%= number_to_currency(entry.amount) %></td>
        <td>
          <%= link_to entry do %>
            <i class="fi-magnifying-glass style1"></i>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to "New Entry", new_entry_path, class: 'button small radius' %>
