<h1>New Entry</h1>

<%= simple_form_for @entry do |f| %>
  <% f.object.errors[:base].each do |error| %>
    <%= content_tag :div, error, class: "alert-box alert radius" %>
  <% end %>

  <% %w(debits credits).each do |submodel| %>
    <%= f.simple_fields_for submodel.to_sym do |sf| %>
      <ul class="small-block-grid-2">
        <li><%= sf.input :amount %></li>
        <li><%= sf.association :wallet, prompt: :translate %></li>
      </ul>
    <% end %>
  <% end %>

  <div class='form-actions'>
    <%= f.button :submit %>
  </div>
<% end %>

</br>

<%= link_to 'Back', entries_path, class: 'button tiny radius secondary' %>
