<h1>New Entry</h1>

<%= simple_form_for @entry do |f| %>
  <%= f.error_notification %>

  <ul>
    <%= f.fields_for :debits do |df| %>
      <li>
        <%= df.label :amount, 'Withdraw' %>
        <%= df.text_field :amount %>

        <%= df.label :wallet_id, 'From' %>
        <%= df.collection_select(:wallet_id, @wallets, :id, :name) %>
      </li>
    <% end %>
  </ul>

  <ul>
    <%= f.fields_for :credits do |df| %>
      <li>
        <%= df.label :amount, 'Deposit' %>
        <%= df.text_field :amount %>

        <%= df.label :wallet_id, 'To' %>
        <%= df.collection_select(:wallet_id, @wallets, :id, :name) %>
      </li>
    <% end %>
  </ul>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

</br>

<%= link_to 'Back', entries_path, class: 'button tiny radius secondary' %>
