<p><%= owner.name %></p>
<p>
  Balance:
  <%= owner.balance %>
</p>

<%- owner.debits.each do |debit| %>
  <p><%= debit.amount %> to <%= debit.to %></p>
<% end %>

<%- owner.credits.each do |credit| %>
  <p><%= credit.amount %> from <%= credit.from %></p>
<% end %>

<p>
  <%= link_to 'Show', owner, class: 'button tiny radius secondary' unless current_page? url_for(owner) %>
  <%= link_to 'Destroy', owner, method: :delete, data: { confirm: {title: "Are you sure?", body: "This action can't be undone."} }, class: 'button tiny radius alert' %>
</p>

<br>
