<h1>Listing <%= @klass.to_s.pluralize %></h1>

<table class="dataTable" width="100%">
  <thead>
    <tr>
      <th><%= @klass.to_s %> Since</th>
      <th>Name</th>
      <th>Balance</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <%- @owners.each do |owner| %>
      <tr>
        <td><%= owner.created_at %></td>
        <td><%= owner.name %></td>
        <td><%= number_to_currency(owner.balance) %></td>
        <td>
          <%= link_to owner do %>
            <i class="fi-magnifying-glass style1"></i>
          <% end %>
          &nbsp;
          <%= link_to owner, method: :delete, data: { confirm: {title: "You're about to delete #{owner.name}!", body: "There is no undo, are you sure?"} } do %>
            <i class="fi-x style2"></i>
          <% end if owner.debits.empty? %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to "New #{@klass.to_s}", "#{@klass.to_s.downcase.pluralize}/new", class: 'button small radius' %>
