<h1>New <%= @owner.class.to_s.humanize %></h1>

<%= simple_form_for @owner, data: {abide: ''} do |f| %>
  <div class='row'>
    <div class='small-10 columns'>
      <div class='row collapse'>
        <%= f.input :name, placeholder: "Enter a name for the #{f.object_name}", input_html: {required: ''} %>
        <div class='small-2 columns form-actions'>
          <%= f.button :wrapped, class: "postfix" %>
        </div>
      </div>
    </div>
  </div>
<% end %>

</br>

<%= link_to 'Back', url_for(@owner), class: 'button tiny radius secondary' %>
