<h1>New Owner</h1>

<%= form_for @owner, data: {abide: ''} do |f| %>
  <% if @owner.errors.any? %>
    <div id='error_explanation'>
      <h2><%= pluralize(@owner.errors.count, 'error') %> prohibited this owner from being saved:</h2>

      <ul>
      <% @owner.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class='row'>
    <div class='small-10 columns'>
      <div class='row collapse'>
        <div class='small-10 columns'>
          <%= f.text_field :name, placeholder: "Enter a name for the #{@owner.class.to_s.downcase}", required: '' %>
          <small class="error">Name is required.</small>
        </div>
        <div class='small-2 columns'>
          <%= f.submit 'Create', class: 'button postfix' %>
        </div>
      </div>
    </div>
  </div>

<% end %>

</br>

<%= link_to 'Back', "/#{@klass.to_s.downcase.pluralize}", class: 'button tiny radius secondary' %>
