<h1>
  <%= @owner.name %>&nbsp;
  <small> Balance: <%= number_to_currency(@owner.balance) %></small>
</h1>

</br>

<ul class="small-block-grid-2">
  <li>
    <h2>Debits</h2>

    <table class="dataTable" width="100%">
      <thead>
        <tr>
          <th>Date</th>
          <th>Amount</th>
          <th>Transfered to</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <%- @owner.debits.each do |debit| %>
          <tr>
            <td><%= debit.created_at %></td>
            <td><%= number_to_currency(debit.amount) %></td>
            <td><%= debit.to %></td>
            <td>
              <%= link_to debit.entry do %>
                <i class="fi-magnifying-glass style1"></i>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </li>
  <li>
    <h2>Credits</h2>

    <table class="dataTable" width="100%">
      <thead>
        <tr>
          <th>Date</th>
          <th>Amount</th>
          <th>Received from</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <%- @owner.credits.each do |credit| %>
          <tr>
            <td><%= credit.created_at %></td>
            <td><%= number_to_currency(credit.amount) %></td>
            <td><%= credit.from %></td>
            <td>
              <%= link_to credit.entry do %>
                <i class="fi-magnifying-glass style1"></i>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </li>
</ul>

<%= link_to "Destroy #{@owner.name}", @owner, method: :delete, data: { confirm: {title: "You're about to delete #{@owner.name}!", body: "There is no undo, are you sure?"} }, class: 'button tiny radius alert' if @owner.debits.empty? %>
