<!DOCTYPE html>
<html lang='en'>
  <head>
    <meta charset='utf-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />

    <title><%= content_for?(:title) ? yield(:title) : 'Fundage' %></title>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'vendor/modernizr' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <div class="row">
      <div class="icon-bar five-up" role="navigation">
        <%= link_to users_path, aria: { labelledby: "#usersLabel"}, class: 'item' do %>
          <i class="fi-torso"></i>
          <label id='usersLabel'>Users</label>
        <% end %>

        <%= link_to teams_path, :"aria-labelledby" => "#teamsLabel", class: 'item' do %>
          <i class="fi-torsos-female-male"></i>
          <label id='teamsLabel'>Teams</label>
        <% end %>

        <%= link_to owners_path, :"aria-labelledby" => "#ownersLabel", class: 'item' do %>
          <i class="fi-torsos-all"></i>
          <label id='ownersLabel'>Everyone</label>
        <% end %>

        <%= link_to entries_path, aria: { labelledby: "#entriesLabel"}, class: 'item' do %>
          <i class="fi-results"></i>
          <label id='entriesLabel'>Check the Ledger</label>
        <% end %>

        <%= link_to new_entry_path, aria: { labelledby: "#newEntryLabel"}, class: 'item' do %>
          <i class="fi-share"></i>
          <label id='newEntryLabel'>Share Fundage!</label>
        <% end %>
      </div>
    </div>
    <div class="row">
      <% flash.each do |name, msg| %>
        <%= content_tag :div, msg, class: "alert-box #{name} radius" if msg.is_a?(String) %>
      <% end %>

      <%= yield %>
    </div>
    </div>
  </body>
</html>
